@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --text: #000000;
  --border: #EAEAEA;
  --primary: #0066FF;
  --secondary: #FF6600;
}

.dark {
  --background: #0D0D0D;
  --text: #EDEDED;
  --border: #333333;
  --primary: #0066FF;
  --secondary: #0052FF;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s, color 0.2s;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


.bot-insights-container ul {
  font-size: 12px !important;
  list-style: disc !important;
  list-style-position: outside !important;
  padding-left: 20px;
}


.bot-insights-container *

/* .bot-insights-container p */
  {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal !important;
  font-size: 14px !important;
}

.bot-insights-container .italic * {
  font-style: italic !important;
}

.bot-insights-container .f-12

/* .bot-insights-container p */
  {

  font-size: 12px !important;
}



.bot-insights-container p {
  margin-bottom: 10px !important;
}


.bot-insights-container h1,
.bot-insights-container h2,

.bot-insights-container h3,

.bot-insights-container h4,

.bot-insights-container h5,
.bot-insights-container h6 {
  font-weight: bold
}

.bot-insights-container hr {
  border: 0;
  height: 12px;
}


.bot-insights-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.bot-insights-container th,
.bot-insights-container td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

.bot-insights-container th {
  background-color: #f5f5f5;
}

.bot-insights-container li {
  margin-bottom: 7px;
}

.bot-insights-container .italic {
  font-style: italic !important;
}